body{
  padding:0;
  font-family: 'Futura';
  font-size:14px;
  color:#444;
  background: black;
  margin:0;
}

.container{
  margin:0 auto;
  width: 1024px;
  display: flex;
}

h1{
  font-family: 'Streamster';
  font-size: 130px;
  font-weight: 200;
  color: #ff71ce;
  text-align: center;
}

p{
  color:#01CDFE;
}

.firstLook{
  height: 595px;
}

.video{
  background: white;
  width: 414px;
  height: 595px;
} 
