body{
  margin:0;
  padding:0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size:14px;
  color:#444;
  background-color: black;
}

.game_map{
  height:600px;
  width:300px;
  top:50px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid red;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 0px 40px 20px #0ff;
}

#game_ball{
  height: 10px;
  width: 10px;
  background-color: #FF1493;
  position: absolute;
  transition: all 80ms linear;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 10px #FF1493;
}

.game_cursor{
  height: 120px;
  width: 5px;
  top: -57px;
  position: absolute;
  transform: rotate(0deg);
  left: 2px;
  background-image: url("../images/cursor.png");

}

.game_hole{
  height: 20px;
  width: 20px;
  background-color: white;
  top: 100px;
  left: 140px;
  position: absolute;
  border-radius: 20px;
}

.game_barrier{
  height: 10px;
  width: 300px;
  background-color: red;
  border: 2px solid red;
  bottom: -5px;
  left: -2px;
  position: absolute;
  box-shadow: 0px 0px 40px 5px red;
  transition: all 250ms linear;
}
