
body{
  padding: 0;
  font-family: 'VCR OSD Mono';
  font-size: 14px;
  color: #01CDFE;
  background-image: url(../images/background.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'Streamster';
  src: url('../fonts/Streamster.ttf');
}

@font-face {
  font-family: 'SF Alien Encounters';
  src: url('../fonts/SFAlienEncounters-Italic.ttf');
}

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
}

/* Main */

.container{
  margin: 0 auto;
  width: 1024px;
}

h1{
  font-family: 'Streamster';
  font-size: 130px;
  font-weight: 200;
  color: #ff71ce;
  margin-top: 10px;
}

/* First Look */

.firstLook{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0)
}

h2{
  font-size: 45px;
  margin-top : 0px;
}

p{
  font-size: 25px;
}

.video{

  width: 50%;
  height: 500px;
  margin-right: 10px;
}

.video img{
  height: 100%;
}

a{
  font-size: 45px;
  text-decoration: none;
  color: #01CDFE;
}

a:hover{
  text-decoration: none;
}

.text{
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
}

.text p{
  color: orange;
  margin-top: 50px;
  margin-bottom: 90px;
}

/* Screenshots of the game */

.screenshots{
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-around;
}

.screenshots img{
  width: 20%;
  height: 400px;
  background-color: white;
  justify-content: space-around;
  margin-bottom: 30px;
}

.learnMore p{
  color: orange;
}

/* Play Button */

.bigButton{
  width: 200px;
  height: 72px;
  margin: auto;
  margin-top: 60px;
  border-style :solid;
  border-color: white;
  margin-bottom: 20px;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items:center;
  background-color: rgba(0, 0, 0, 0.3);
}

.bigButton a{
  font-family: 'SF Alien encounters';
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color : white;
  margin: 10px;
  margin-top: 13px;
}

.bigButton a:hover{
  text-shadow: #01CDFE 0 -3px;
}

/* Footer*/

footer{
  background-color: black;
  margin-top: 90px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

  footer p{
    font-family: 'Comic Sans MS';
    color: black;
    padding: 0px;
    margin: 0px;
  }

footer p:hover{
  color: #01CDFE;
}

footer a{
  font-size: 16px;
  line-height: 30px;
}
